/* Hide specific GitHub link */
a[href*='https://github.com/Chainlit/chainlit']
{
  visibility: hidden !important;
}

/* Hide the open sidebar button */
#open-sidebar-button {
  display: none !important;
}

/* Hide the logo image by alt attribute */
img[alt='logo'] {
  display: none !important;
}

/* Hide the MuiAvatar component */
div[class*='MuiAvatar-root'] {
  display: none !important;
}

/* Hide the MuiTouchRipple component */
span[class*='MuiTouchRipple-root'] {
  display: none !important;
}

/* Hide the button with the down arrow icon and all related elements */
button[class*='MuiIconButton-root'] {
  display: none !important;
}
